#MAIN_LAYOUT {
  .ant-layout-sider,
  .ant-layout-header {
    z-index: 2;
  }
  .ant-layout-header {
    box-shadow: 1px 2px 3px #dcdcdc;
  }

  .site-layout-container {
    overflow: auto;
    padding: 16px  16px;
    position: relative;
    .full-content  {
      margin: 0px -22px !important;
      &.on-top {
        margin-top: -16px !important;
      }
    }
  }
  .ant-layout-content {
    flex: 0;
    margin-top: 0 !important;
    margin-bottom: 16px;
    padding: 12px 24px 0 24px;
  }
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #1890ff;
    }
  }
}
