
$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 85, 90, 95, 100); // Adjust this to include the pixel amounts you need.
$sides: (
        "": "all",
        "t": "top",
        "b": "bottom",
        "l": "left",
        "r": "right",
);


@mixin rounded-bind($name) {
  @each $space in $spaceamounts {
    .#{$name}-#{$space}{
      border-radius: #{$space}px;
    }
  }
}

@mixin color-bind($name, $codes) {
  @each $item in $codes {
    .#{$name}-#{$item} {
      color:#{$item} !important;
    }
  }
}

@mixin background-bind($name, $codes) {
  @each $item in $codes {
    .#{$name}-#{$item} {
      background:#{$item} !important;
    }
  }
}


@mixin padding-margin-bind {
  @each $space in $spaceamounts {
    .mr-v-#{$space} {
      margin: #{$space}px 0 !important;
    }
    .mr-h-#{$space} {
      margin: 0 #{$space}px !important;
    }
    .pd-v-#{$space} {
      padding: #{$space}px 0 !important;
    }
    .pd-h-#{$space} {
      padding: 0 #{$space}px !important;
    }
    // .mr-#{$space}{
    //   margin:#{$space}px !important;
    // }
    // .pd-#{$space}{
    //   padding: #{$space}px !important;
    // }
    // #{str-slice($side, 0, 1)} // Get ký tự đầu của chuổi
    @each $prefix,
    $value in $sides {
      $property: if($prefix=='', '', -#{$value});
      $strproerty:if($prefix=='', '', -#{$prefix});
      .mr#{$strproerty}-#{$space} {
        margin#{$property}: #{$space}px !important;
      }
      .pd#{$strproerty}-#{$space} {
        padding#{$property}: #{$space}px !important;
      }
    }
  }
}